.link{
    display:flex;
    flex-direction:column;
    text-decoration:none;
    color:#606176;
    font-size:1rem;
}
.link:hover{
    text-decoration: underline;
    color:#2378FF;
}
.icons{
    width:  8.375rem;
    height:3rem;
    border:0.063rem solid #606176;
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin-top:0.6rem;
    border-radius: 0.5rem;
}
 span{
    font-size:0.51rem;
    font-weight:500;
}
.icons p{
    width:4.55rem;
    font-size:0.75rem;
    line-height: 0.5rem;
}
.p{
    font-size:0.5rem;
}